{% extends 'baseAdmin.html.twig' %}

{% block title %}Voie index
{% endblock %}

{% block body %}
	<h1>Voie index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Description</th>

				<th>Voie</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for voie in voies %}
				<tr>
					<td>{{ voie.id }}</td>
					<td>{{ voie.nom }}</td>
					<td>{{ voie.description }}</td>
					<td>
						<img style="width:35%" src="../../images/voie/{{ voie.id }}_{{ voie.nom }}.png" alt="Voie : {{ voie.nom }}">
					</td>
					<td>
						<a href="{{ path('app_voie_show', {'id': voie.id}) }}">show</a>
						<a href="{{ path('app_voie_edit', {'id': voie.id}) }}">edit</a>
					</td>
				</tr>
			</td>
		</tbody>
	</tr>
</tbody></tbody>{% else %}<tr>
<td colspan="4">Ou sont passé nos divinité? [database error?]</td></tr>{% endfor %}</tbody></table><a href="{{ path('app_voie_new') }}">Create new</a>{% endblock %}
