{% extends 'base.html.twig' %}

{% block title %}Attribut index
{% endblock %}

{% block body %}
	<h1>Attribut index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Description</th>
				<th>photo</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for attribut in attributs %}
				<tr>
					<td>{{ attribut.id }}</td>
					<td>{{ attribut.nom }}</td>
					<td>{{ attribut.description }}</td>

					<td>
						<img style="width:65%" src="../images/attribut/{{ attribut.nom }}.png" alt="attribut : {{ attribut.nom }}">
					</td>
					<td>
						<a href="{{ path('app_attribut_show', {'id': attribut.id}) }}">show</a>
						<a href="{{ path('app_attribut_edit', {'id': attribut.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_attribut_new') }}">Create new</a>
{% endblock %}
