{% extends 'baseAdmin.html.twig' %}

{% block title %}Talent{% endblock %}

{% block body %}
    <h1>Talent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ talent.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ talent.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ talent.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_talent_index') }}">back to list</a>

    <a href="{{ path('app_talent_edit', {'id': talent.id}) }}">edit</a>

    {{ include('talent/_delete_form.html.twig') }}
{% endblock %}
