{% extends 'base.html.twig' %}

{% block body %}

		<h1>Personnage</h1>

    <table class="table">
		<div>
			<tbody>
				<tr>
					<th>Nom</th>
					<td>{{ personnage.nom }}</td>
				</tr>
				<tr>
					<th>Etoile</th>
					<td>{{ personnage.etoile }}</td>
				</tr>
				<tr>
				<th>attribut</th>
					<td>{{ personnage.attribut }}</td>
				</tr>
				<tr>
				<th>Voie</th>
					<td>{{ personnage.voie }}</td>
				</tr>
				<th>Talent</th>
					<table class="table">
					<thead><tr><th>{{ personnage.talent.nom }}</th></tr></thead>
					<tbody><td>{{ personnage.talent.description }}</td></tbody>
				</tr>
				<th>Normale</th>
					<table class="table">
					<thead><tr><th>{{ personnage.normale.nom }}</th></tr></thead>
					<tbody><td>{{ personnage.normale.description }}</td></tbody>
				</tr>
				<th>Compétence</th>
					<table class="table">
					<thead><tr><th>{{ personnage.competence.nom }}</th></tr></thead>
					<tbody><td>{{ personnage.competence.description }}</td></tbody>
				</tr>
				<th>Ultime</th>
					<table class="table">
					<thead><tr><th>{{ personnage.ultime.nom }}</th></tr></thead>
					<tbody><td>{{ personnage.ultime.description }}</td></tbody>
				</tr>
				

			</tbody>
		</div>
    </table>

            {% set idPersonnage = personnage.id %}
            {% set nomPersonnage = personnage.nom %}
            
            <div class="img-container">

                    <img src="{{ asset('images/perso/fullnoBg/Character_Portrait_' ~ nomPersonnage ~ '.png') }}" alt="Description de l'image">
                </a>
   			</div>

	
	<style>
/* Style pour chaque image */


	</style>
{% endblock %}
