{% extends 'base.html.twig' %}

{% block title %}Personnage index
{% endblock %}

{% block body %}
	<h1>Personnage index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Etoile</th>
				<th>image</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for personnage in personnages %}
				<tr>
					<td>{{ personnage.id }}</td>
					<td>{{ personnage.nom }}</td>
					<td>{{ personnage.etoile }}</td>
					<td tyle="width:100px">

						{% set nomPersonnage = personnage.nom %}
						{% set imagePath = asset('images/perso/fullnoBg/Character_Portrait_' ~ nomPersonnage ~ '.png') %}
						<img style="width:75px;aspect-ratio: 1 / 1 auto" src="..{{imagePath}}" alt="personnage : {{ personnage.nom }}">
					</td>
					<td>
						<a href=" {{ path('app_personnage_show', {'id': personnage.id} ) }}">show</a>

						<a href="{{ path('app_personnage_edit', {'id': personnage.id}) }}">edit</a>
					</td>
				</tr>
			</td>
		</tbody>
	</td>
</tr>{% else %}
<tr>
	<td colspan="4">C'est un peu vide ici non? [Database error?]</td>
</tr>{% endfor %}</tbody></table><a href="{{ path('app_personnage_new') }}">Create new</a>{% endblock %}
