{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}
{% block vid %}
	"../../images/vid/silver-wolf-honkai.mp4"
{% endblock %}
{% block body %}

	<style>
		.container video {
			scale: 1.2;
			right: 0;
			margin-left: 5em;
		}
	</style>
	<h1>Article Disponible</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Contenu</th>
				<th>DateCrea</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}
				<tr>
					<td>{{ article.id }}</td>
					<td>{{ article.titre }}</td>
					<td>{{ article.contenu }}</td>
					<td>{{ article.dateCrea ? article.dateCrea|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('public_article_show', {'id': article.id}) }}">Infos</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
