<div id='persoT' class="flex-container">
	{% for personnage in personnages %}
		{% set nomPersonnage = personnage.nom %}
		{% set idPersonnage = personnage.id %}
		<div class="charaFrame {{personnage.attribut}}" onclick="window.location.href='{{ path('app_personnage_affichage', {'id': idPersonnage}) }}'" ;>


			<div class="charaImage">

				{% set imagePath = asset('images/perso/fullnoBg/Character_Portrait_' ~ nomPersonnage ~ '.png') %}
				<img style="width:155px ; object-fit: cover; aspect-ratio: 1 / 1" src="..{{imagePath}}" alt="personnage : {{ personnage.nom|replace({'_': ' '}) }}">

			</div>
			<div>
				<div class="charaName">
					{{ personnage.nom|replace({'_': ' '}) }}
				</div>
			</div>
			<div class="charaStars">

				{% if personnage.etoile == 5 %}

					<img style="width: 120px;" src="../images/etoile/5.png" alt="5 etoiles">
				{% else %}
					<img style="width: 120px;" src="../images/etoile/4.png" alt="4 etoiles">
				{% endif %}

			</div>
		</div>

	{% else %}
		<div>
			<td colspan="4">C'est un peu vide ici non? [Database error?]</td>
		</div>

	{% endfor %}
	{% set owningCharacter = 0 %}
	{% for allIds in inventairesPersonnage %}
		<!--- character {{ allIds }} is owned -->
		{%set owningCharacter = owningCharacter + 1%}
	{% else %}
		<p>C'est un peu vide ici non? [Database error?]</p>

	{% endfor %}
	{% if is_granted('ROLE_USER')  %}
		{% if owningCharacter > 0 %}
			<button style="background-image: url('https://media1.tenor.com/m/ohjO-ZMAlFcAAAAd/mike-o-hearn.gif');background-size: contain;" onclick="onDownload()">Telecharger listes des perso. obtenues</button>
		{% endif %}
	{% endif %}
