<div id='persoT' class="flex-container">
	{% for personnage in personnages %}
	{% set nomPersonnage = personnage.nom %}
			{% set idPersonnage = personnage.id %}
	<a href="{{ path('app_personnage_affichage', {'id': idPersonnage}) }}">
		<div class="charaFrame {{personnage.attribut}}">

		

		
			
			
			<div class="charaImage">
		
				{% set imagePath = asset('images/perso/fullnoBg/Character_Portrait_' ~ nomPersonnage ~ '.png') %}
			<img style="width:155px ; object-fit: cover; aspect-ratio: 1 / 1" src="..{{imagePath}}" alt="personnage : {{ personnage.nom }}">

			</div>
			<div>
				<div class="charaName">
					{{ personnage.nom }} 
				</div>
			</div>
			<div class="charaStars">

		{% if personnage.etoile == 5 %}

			<img style="width: 120px;" src="../images/etoile/5.png" alt="5 etoiles">
		{% else %}
			<img style="width: 120px;" src="../images/etoile/4.png" alt="4 etoiles">
		{% endif %}

		</div>
		</div>
	</a>
	
	{% else %}
		<div>
			<td colspan="4">C'est un peu vide ici non? [Database error?]</td>
		</div>

			{% endfor %}
			{% for allIds in inventairesPersonnage %}
				<p style="color:white">
					{{ allIds }}
				</p>
			{% else %}
				<p>C'est un peu vide ici non? [Database error?]</p>

			{% endfor %}
