{% extends 'baseAdmin.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
 <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ article.titre }}</th>
                <th>{{ article.dateCrea ? article.dateCrea|date('Y-m-d H:i:s') : '' }}</th>
            </tr>
            <tr>
                <td>{{ article.contenu }}</td>
            </tr>
        </tbody>
    </table>

     <a href="{{ path('app_article_index') }}">back to list</a>

    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}

        {% for com in article.Commentaires %}
    <div class ="commentaire">

        <div class="utilisateur">{{com.utilisateur}}</div>
        <div class ="commentaire">{{com.contenu}}</div>
        
        <form method="post" action="{{ path('app_commentaire_delete', {'id': com.id}) }}" onsubmit="return confirm('Are you sure you want to delete this comment?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ com.id) }}">
            <button class="btn btn-danger rounded-pill px-3" type="submit">Delete</button>
        </form>

    </div>
    {% endfor %}
    
<style>


</style>

{% endblock %}
